<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957614608255-seu6g8ginnu8hmeplhdo0o68qjlqpee7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957614608255-seu6g8ginnu8hmeplhdo0o68qjlqpee7</string>
	<key>API_KEY</key>
	<string>AIzaSyCT3XLI6Ixr3wLwiLxSX2nJWGN1Qp-Ivwk</string>
	<key>GCM_SENDER_ID</key>
	<string>957614608255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.referralmaker.referralmaker</string>
	<key>PROJECT_ID</key>
	<string>referral-maker-crm-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>referral-maker-crm-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957614608255:ios:7dd74e44b5fb2959a8944a</string>
</dict>
</plist>